<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/style/main.css">

    <!--BOOTSTRAP ICON-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    
    <!--GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap" rel="stylesheet">

    <title>The Book Nook</title>
  </head>

  <header class="top-header">

    <h2>BOOKS CAN LEAD TO SUCCESS<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 100 100">
       <path fill="#e6edb7" d="M50 13A37 37 0 1 0 50 87A37 37 0 1 0 50 13Z"></path><path fill="#88ae45" d="M13 27A2 2 0 1 0 13 31A2 2 0 1 0 13 27Z"></path><path fill="#f1bc19" d="M77 12A1 1 0 1 0 77 14 1 1 0 1 0 77 12zM83 11A4 4 0 1 0 83 19 4 4 0 1 0 83 11z"></path><path fill="#88ae45" d="M87 22A2 2 0 1 0 87 26A2 2 0 1 0 87 22Z"></path><path fill="#fbcd59" d="M81 74A2 2 0 1 0 81 78 2 2 0 1 0 81 74zM15 59A4 4 0 1 0 15 67 4 4 0 1 0 15 59z"></path><path fill="#88ae45" d="M25 85A2 2 0 1 0 25 89A2 2 0 1 0 25 85Z"></path><path fill="#fff" d="M18.5 51A2.5 2.5 0 1 0 18.5 56A2.5 2.5 0 1 0 18.5 51Z"></path><path fill="#f1bc19" d="M21 66A1 1 0 1 0 21 68A1 1 0 1 0 21 66Z"></path><path fill="#fff" d="M80 33A1 1 0 1 0 80 35A1 1 0 1 0 80 33Z"></path><g><path fill="#88ae45" d="M50 26.042A23.958 23.958 0 1 0 50 73.958A23.958 23.958 0 1 0 50 26.042Z"></path><path fill="#472b29" d="M50,26.4c13.013,0,23.6,10.587,23.6,23.6S63.013,73.6,50,73.6S26.4,63.013,26.4,50 S36.987,26.4,50,26.4 M50,25c-13.807,0-25,11.193-25,25s11.193,25,25,25s25-11.193,25-25S63.807,25,50,25L50,25z"></path><path fill="#fdfcef" d="M50 30.5A19.5 19.5 0 1 0 50 69.5A19.5 19.5 0 1 0 50 30.5Z"></path><path fill="#472b29" d="M69.762,46.954c-0.043-0.273-0.298-0.46-0.571-0.418c-0.273,0.042-0.461,0.297-0.417,0.571 c0.931,5.976-1.054,12.082-5.309,16.334c-7.417,7.412-19.485,7.412-26.902,0c-7.417-7.411-7.417-19.471,0-26.883 c7.417-7.411,19.485-7.411,26.902,0c0.778,0.778,1.493,1.642,2.186,2.641c0.158,0.227,0.469,0.284,0.697,0.126 c0.225-0.155,0.283-0.468,0.126-0.696c-0.728-1.049-1.481-1.958-2.302-2.778c-7.807-7.801-20.51-7.802-28.318,0 c-7.807,7.802-7.807,20.496,0,28.298c7.807,7.801,20.51,7.802,28.318,0C68.653,59.672,70.743,53.244,69.762,46.954z"></path><path fill="#472b29" d="M67.569,42.796c0.105,0.256,0.398,0.378,0.653,0.273c0.254-0.104,0.378-0.396,0.272-0.652 c-0.315-0.766-0.609-1.395-0.926-1.977c-0.132-0.243-0.436-0.332-0.679-0.2c-0.043,0.023-0.082,0.053-0.115,0.086 c-0.153,0.153-0.194,0.393-0.086,0.593C66.989,41.468,67.269,42.065,67.569,42.796z"></path></g><g><path fill="#88ae45" d="M41,48.375c-0.434,0-0.842,0.169-1.149,0.476c-0.307,0.307-0.476,0.715-0.476,1.149 s0.169,0.842,0.476,1.149l7,7c0.307,0.307,0.715,0.476,1.149,0.476V59l0.031-0.375c0.445-0.009,0.869-0.201,1.167-0.526l11-12 c0.293-0.32,0.444-0.735,0.426-1.169c-0.019-0.434-0.206-0.833-0.525-1.127c-0.321-0.293-0.728-0.45-1.169-0.426 c-0.433,0.019-0.833,0.205-1.126,0.525l-9.854,10.749l-5.8-5.8C41.842,48.544,41.434,48.375,41,48.375z"></path><path fill="#472b29" d="M59,43.75L59,43.75c0.313,0,0.613,0.117,0.845,0.329c0.246,0.226,0.389,0.533,0.404,0.867 c0.014,0.334-0.102,0.653-0.328,0.899l-11,12c-0.229,0.25-0.555,0.398-0.921,0.405c-0.334,0-0.648-0.13-0.884-0.366l-7-7 C39.88,50.648,39.75,50.334,39.75,50s0.13-0.648,0.367-0.884C40.352,48.88,40.666,48.75,41,48.75s0.648,0.13,0.884,0.366 l5.523,5.523l0.554,0.554l0.529-0.577l9.589-10.461C58.318,43.894,58.645,43.75,59,43.75 M59,43c-0.541,0-1.08,0.218-1.474,0.649 l-9.589,10.46l-5.523-5.523C42.024,48.195,41.512,48,41,48s-1.024,0.195-1.414,0.586c-0.781,0.781-0.781,2.047,0,2.828l7,7 C46.961,58.79,47.47,59,48,59c0.015,0,0.029,0,0.043,0c0.545-0.012,1.062-0.246,1.431-0.648l11-12 c0.747-0.814,0.691-2.08-0.123-2.826C59.967,43.174,59.483,43,59,43L59,43z"></path></g>
       </svg>
       </h2>

</header>


<header class="second-header">


  <div class="create-post-icon">
    <a href="/recommend">
      <img src="<%= createPost %>" alt="Create Post Icon" title="Create Post">
      <h5>Create Post</h5>
    </a>
  </div>

  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"> <img src="/style/assets/books.png"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#popular">Popular</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#best">Best Offer</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              More
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">About us</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  
       <div class="search-icon">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 128 128">
            <path fill="#fff" d="M108.9,108.9L108.9,108.9c-2.3,2.3-6.1,2.3-8.5,0L87.7,96.2c-2.3-2.3-2.3-6.1,0-8.5l0,0c2.3-2.3,6.1-2.3,8.5,0l12.7,12.7C111.2,102.8,111.2,106.6,108.9,108.9z"></path><path fill="#fff" d="M52.3 17.299999999999997A35 35 0 1 0 52.3 87.3A35 35 0 1 0 52.3 17.299999999999997Z" transform="rotate(-45.001 52.337 52.338)"></path><path fill="#fff" d="M52.3 17.299999999999997A35 35 0 1 0 52.3 87.3A35 35 0 1 0 52.3 17.299999999999997Z" transform="rotate(-45.001 52.337 52.338)"></path><path fill="#71c2ff" d="M52.3 84.3c-1.7 0-3-1.3-3-3s1.3-3 3-3c6.9 0 13.5-2.7 18.4-7.6 6.4-6.4 9-15.5 6.9-24.4-.4-1.6.6-3.2 2.2-3.6 1.6-.4 3.2.6 3.6 2.2C86 55.8 82.9 67.1 75 75 68.9 81 60.9 84.3 52.3 84.3zM73 35c-.8 0-1.5-.3-2.1-.9L70.7 34c-1.2-1.2-1.2-3.1 0-4.2 1.2-1.2 3.1-1.2 4.2 0l.2.2c1.2 1.2 1.2 3.1 0 4.2C74.5 34.7 73.8 35 73 35z"></path><path fill="#444b54" d="M52.3 90.3c-9.7 0-19.5-3.7-26.9-11.1-14.8-14.8-14.8-38.9 0-53.7 14.8-14.8 38.9-14.8 53.7 0h0C94 40.3 94 64.4 79.2 79.2 71.8 86.6 62.1 90.3 52.3 90.3zM52.3 20.4c-8.2 0-16.4 3.1-22.6 9.4-12.5 12.5-12.5 32.8 0 45.3C42.2 87.4 62.5 87.4 75 75c12.5-12.5 12.5-32.8 0-45.3C68.7 23.5 60.5 20.4 52.3 20.4zM111 98.3L98.3 85.6c-1.7-1.7-4-2.6-6.4-2.6-1.4 0-2.7.3-3.9.9l-2.5-2.5c-1.2-1.2-3.1-1.2-4.2 0-1.2 1.2-1.2 3.1 0 4.2l2.5 2.5c-.6 1.2-.9 2.5-.9 3.9 0 2.4.9 4.7 2.6 6.4L98.3 111c1.8 1.8 4.1 2.6 6.4 2.6s4.6-.9 6.4-2.6l0 0C114.5 107.5 114.5 101.8 111 98.3zM106.8 106.8c-1.2 1.2-3.1 1.2-4.2 0L89.8 94.1c-.6-.6-.9-1.3-.9-2.1s.3-1.6.9-2.1c.6-.6 1.3-.9 2.1-.9s1.6.3 2.1.9l12.7 12.7C108 103.7 108 105.6 106.8 106.8z"></path>
            </svg>
       </div>

       <div class="cart-icon-header">
        <a href="/cart"> <i class="bi bi-cart-fill " style="color: var(--text2-color);" title="Cart"></i></a>
        <span id="cart-count"><%= cartCount %></span>
        
        </div> 
   
       <div class="user-icon">
            <img src="/style/assets/user.png" alt="image">
       </div>
</header>


  <body>
     
             <section class="pride-and-prejudice">

              <div class="container" >
                 <h1> <img src="<%= pin2 %> " class=" "> 
                  <%= thirdTitle %>  <img src="<%= pin2 %> " class="pin-img">
                </h1> 
                <hr>
                 
                <div class="books-contents">
                  <h5>  First published in 1813<br></h5>
                   
                 <p class="info">Jane Austen’s Pride and Prejudice is a novel that masterfully blends romance, wit, and social commentary, making it one of the most beloved works in English literature. First published in 1813, the novel critiques the rigid social structures of early 19th-century England while delivering a compelling love story filled with misunderstandings, personal growth, and sharp humor.</p>
                    <img src="<%= bookMocking3 %>" class="book-image">

                </div>
                
                  <div class="brief-summary">

                    <h2> <%= briefSum3 %></h2>

                     
                    <p class="info">
                        Jane Austen’s Pride and Prejudice is a classic novel that explores themes of love, class, and social expectations in early 19th-century England. The story follows Elizabeth Bennet, a witty and independent young woman, as she navigates societal pressures and romantic misunderstandings.

                        When the wealthy and reserved Mr. Darcy initially snubs Elizabeth at a ball, she develops a strong dislike for him, believing him to be arrogant and prideful. Meanwhile, her mother is eager to see her and her sisters married well, particularly to Mr. Bingley, a charming gentleman who quickly falls for Elizabeth’s sister Jane.

                    </p>
                     <br>
                      
                      <p class="info">
                        As the story unfolds, Elizabeth learns that her initial judgments of people—including Darcy—were mistaken. Darcy, despite his pride, secretly helps Elizabeth’s family in a crisis and ultimately proves his deep love for her. Elizabeth, in turn, realizes her own prejudice against him. After overcoming their misunderstandings, Elizabeth and Darcy confess their love and marry, finding happiness together.

                        The novel is a sharp critique of class distinctions, marriage expectations, and personal growth, making it one of the most beloved works of English literature.
                      </p>




                      <div class="image3">
                        <img src="<%= summaryImg3 %>" alt="">
                      </div>


                  </div>

                  <div class="strength-container">
                        <h3><%= strength3 %></h3>
                        <hr class="strength-hr">

                        <div class="fun-fact-icon">
                          <img src="<%= funFactImg3 %>" alt="">
                      </div>

                        <p class="info">
                          One of the novel’s greatest strengths is Austen’s sharp and humorous writing style. Through her protagonist, Elizabeth Bennet, Austen presents a strong-willed, intelligent, and independent woman who challenges societal norms. Elizabeth’s quick wit and keen observations make her a compelling and relatable character, especially in contrast to the rigid expectations placed upon women of her time.

                        </p>
                     

                      
                        <p class="info">
                          Another remarkable strength is the novel’s realistic and evolving relationships. Unlike typical love stories where attraction is immediate, Pride and Prejudice portrays love as a journey of self-discovery and overcoming flaws. Elizabeth and Mr. Darcy’s relationship begins with misjudgment—Elizabeth sees Darcy as arrogant and prideful, while Darcy initially looks down on Elizabeth due to her lower social status. However, as they learn from their mistakes, their love story unfolds in a way that feels both authentic and satisfying.
                        </p>


                       <p class="info">

                        The novel is also rich in social commentary. Austen critiques the importance of wealth and class in marriage, highlighting how societal pressures shape women’s choices. Through characters like Mrs. Bennet, who is obsessed with marrying off her daughters, and Charlotte Lucas, who marries purely for financial security, Austen underscores the limited options available to women. Yet, through Elizabeth, she presents an alternative—a woman who values love and respect over money.
                       </p>

                         <div class="strength-img">
                          <img src="<%= Img %>" alt="">
                         </div>

                         <div class="character-depth">
                          
                            <h3> <%= characDepth3 %></h3>
                            
                            <hr class="depth-hr">

                           
                            
                           <p class="info">

                            Elizabeth Bennet stands out as one of literature’s most beloved heroines. Unlike many women of her time, she refuses to conform to societal expectations, rejecting marriage proposals that do not align with her values. Her pride in her own judgment, however, initially blinds her to the truth about Darcy, leading to misunderstandings.
                            Mr. Darcy, on the other hand, is a perfect example of character development. At first, his pride makes him seem cold and superior, but as the novel progresses, he humbles himself and proves his love through actions, not just words. His transformation is one of the most satisfying elements of the novel.
                           </p>

                              
                            
                            <p class="info">
                              The novel’s title itself reflects the central theme: pride and prejudice. Elizabeth’s prejudice against Darcy and his initial pride keep them apart, but both must overcome their faults to find happiness. Other characters, such as Mr. Collins, represent the absurdities of social ambition, while Lydia Bennet’s reckless behavior highlights the dangers of ignoring societal expectations entirely.
                            </p>


                            
                             <div class="character-dev-img3">
                              <img src="<%= Img2 %>" alt="">
                             </div>
                            
                            
                            <div class="character-icon2">
                                  <img src="<%= characIcon3 %>" alt="">       
                                </div>  



                         </div>

                         <div class="criticism">
                          
                          <h3> <%= criticism3 %></h3>
                          <hr class="critism-hr">
                              <p class="info">

                                Despite its brilliance, some readers may find the novel’s focus on marriage limiting. While Austen critiques the marriage market, marriage still serves as the ultimate resolution for the characters. Additionally, some critics argue that Elizabeth and Darcy’s love story, though beautifully written, is based on limited interactions, making their deep connection feel somewhat idealized.
                              </p>
 
                          
                              <p class="info">

                                The pacing of the novel may also be slow for modern readers. The elaborate conversations and long descriptions of social customs can sometimes overshadow the romance and drama. However, for those who appreciate character-driven stories, these details add richness to the novel’s world.
                              </p>

                              <div class="critism-img3">
                                <img src="<%= criticisImg %>" alt="">
                              </div>
                               
                                <div class="final-verdict-card-3">
                                     <h3><%= final3 %></h3>
                                       <hr class="final-hr">

                                    <p class="info">

                                      Pride and Prejudice is a novel that has stood the test of time for a reason. Its themes of love, self-awareness, class, and personal growth remain relevant today, and its characters continue to resonate with readers. The novel is more than just a romance—it is a witty, insightful critique of society and human nature.
                                    </p>

                                    <p class="info">

                                      For those who enjoy sharp dialogue, strong heroines, and love stories built on mutual respect and growth, Pride and Prejudice is a must-read. It is not only one of the best love stories ever written but also a timeless exploration of human flaws and redemption.
                                    </p>
                                </div>
                         </div>
                    
 
                          

                      
                  </div>
            
               
                  
                   

            
    
              </div>
        

             </section>
            
          

<!-- footer-->

<footer class="footer  py-4">
  <div class="container">
      <div class="row">
          <!-- About Section -->
          <div class="col-md-4">
              <h5>About Us</h5>
              <p>Discover a world of books and endless stories. Your go-to place for literature lovers.</p>
          </div>

          <!-- Navigation Links -->
          <div class="col-md-4">
              <h5>Quick Links</h5>
              <ul class="list-unstyled">
                  <li><a href="#" class="text-light">Home</a></li>
                  <li><a href="#" class="text-light">Categories</a></li>
                  <li><a href="#" class="text-light">Best Sellers</a></li>
                  <li><a href="#" class="text-light">Contact Us</a></li>
              </ul>
          </div>

          <!-- Social Media & Newsletter -->
          <div class="col-md-4 ">
              <h5>Follow Us</h5>
              <a href="#" class="text-light me-2"><i class="bi bi-facebook"></i>  </a>
              <a href="#" class="text-light me-2"><i class="bi bi-twitter"></i></a>
              <a href="#" class="text-light me-2"><i class="bi bi-instagram"></i></a>

             
          </div>
      </div>
 
       <div class="copy-right">


      <p class="text-center mb-0">&copy; 2025 YourBooksWebsite. All Rights Reserved.</p>
    </div>
  </div>
</footer>
  
    


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>